@page "/"
@namespace PrestamoBlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PrestamoBlazorApp</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />

    <link href="PrestamoBlazorApp.styles.css" rel="stylesheet" />
    <link href="~/_content/BlazorUtilsLibrary/leaflet/leaflet.css" rel="stylesheet" />
    <link href="~/_content/Radzen/default.css" rel="stylesheet" />
    <link href="~/_content/fontawesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <link href="~/css/Switch/Switch.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="Server" />
    @*"ServerPrerendered"*@
    @*<component type="typeof(App)" render-mode="Server" />*@
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Ha ocurrido un error, la aplicacion no respondera intente recargar/reactivarla .
        </environment>
        <environment include="Development">
            ha ocurrido un error grave, inspeccione las herramientas de su navegado para mas detalles.
        </environment>
        <a href="" class="reload">Recargar Aplicacion</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="~/jquery.js"></script>
    <script src="~/bootstrap.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="~/_content/Radzen/Radzen.Blazor.js"></script>
    <script src="~/_content/BlazorUtilsLibrary/leaflet/leaflet.js"></script>
    <script src="~/_content/BlazorUtilsLibrary/deliveryMap.js"></script>
    <script src="~/inputmask.js"></script>
    <script src="~/notify.js"></script>
    <script src="~/css/sweetalert2/sweetalert2.js"></script>
    <script src="~/Territorio.js"></script>
    <script src="~/Localidades.js"></script>
    <script src="~/css/blockui/jquery.blockUI.js"></script>
    <script src="~/JsUtils.js"></script>
    <script>
    </script>
</body>
</html>
