@page "/"
@namespace PrestamoBlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PrestamoBlazorApp</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="PrestamoBlazorApp.styles.css" rel="stylesheet" />
    <link href="~/_content/BlazorUtilsLibrary/leaflet/leaflet.css" rel="stylesheet" />
    <link href="~/_content/Radzen/default.css" rel="stylesheet" />
    <link href="~/_content/fontawesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    @*<component type="typeof(App)" render-mode="Server" />*@
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="~/jquery.js"></script>
    <script src="~/bootstrap.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="~/_content/Radzen/Radzen.Blazor.js"></script>
    <script src="~/JsUtils.js"></script>
    <script src="~/_content/BlazorUtilsLibrary/leaflet/leaflet.js"></script>
    <script src="~/_content/BlazorUtilsLibrary/deliveryMap.js"></script>
    <script src="~/inputmask.js"></script>
    <script src="~/notify.js"></script>
    <script src="~/Territorio.js"></script>
    <script>

    </script>
</body>
</html>
