@page "/"
@namespace PrestamoBlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pcp Prestamo</title>
    <base href="~/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="PrestamoBlazorApp.styles.css" rel="stylesheet" />
    <link href="~/_content/BlazorUtilsLibrary/leaflet/leaflet.css" rel="stylesheet" />
    <link href="~/css/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <link href="~/css/Switch/Switch.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="Server" />
    @*"ServerPrerendered"*@
    @*<component type="typeof(App)" render-mode="Server" />*@
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Ha ocurrido un error, la aplicacion no respondera intente recargar/reactivarla .
        </environment>
        <environment include="Development">
            ha ocurrido un error grave, inspeccione las herramientas de su navegador para mas detalles.
        </environment>
        <a href="" class="reload">Recargar Aplicacion</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="~/jquery.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="~/_content/BlazorUtilsLibrary/leaflet/leaflet.js"></script>
    <script src="~/_content/BlazorUtilsLibrary/deliveryMap.js"></script>
    <script src="~/notify.js"></script>
    <script src="~/css/sweetalert2/sweetalert2.js"></script>
    <script src="~/Territorio.js"></script>
    <script src="~/Localidades.js"></script>
    <script src="~/css/blockui/jquery.blockUI.js"></script>
    <script src="~/JsUtils.js"></script>
    <script src="~/Reportes.js"></script>
</body>
</html>
