@page "/clientesAddOrEdit"
@page "/clientesAddOrEdit/{idCliente}"


<div class="grid-container">
    <div class="search">
        <EditForm Model="@cliente" OnValidSubmit="@SaveCliente">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="bg-secondary">
                <h3 class="text-left">Crear o Editar clientes</h3>
                <div  class="text-right">
                    <button type="submit">Guardar</button>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group row">
                    <label for="codigo" class="col-sm-2 col-form-label text-right">Codigo</label>
                    <RadzenTextBox @bind-Value="cliente.Codigo" class="col-sm-3" Disabled="disableCodigo" />
                    <label class="col-sm-2 col-form-label text-right">Activo</label>
                    <label class="col-sm-1 col-form-label text-left">@TextoForActivo</label>
                </div>
                <div class="form-group row">
                    <label for="tiposIdentificacionPersonas" class="col-sm-3 col-form-label text-left">Tipos de indentificacion</label>
                    <RadzenDropDown @bind-Value="cliente.IdTipoIdentificacion" class="col-sm-2" AllowClear="true" TValue="int"
                                    Data=@(EnumToAList.GetEnumTiposIdentificacionPersona().Select(tId => new { idTipoIdentificacion = tId.IdValue, Name = tId.Text }))
                                    TextProperty="Name" ValueProperty="idTipoIdentificacion" Change=@(args => OnChange(args, "DropDown")) />

                    <label for="noIdentificacion" class="col-sm-2 col-form-label text-right">Numeracion </label>
                    <RadzenMask Mask="***-*******-*" Pattern="[^0-9]" placeholder="000-0000000-0" @bind-Value="cliente.NoIdentificacion" class="col-sm-5" />
                </div>
                <div class="form-group row">
                    <label for="nombres" class="col-sm-2 col-form-label text-right">Nombres</label>
                    <InputText @bind-Value="cliente.Nombres" class="col-sm-10" />
                </div>

                <div class="form-group row">
                    <label for="apellidos" class="col-sm-2 col-form-label text-right">Apellidos</label>
                    <InputText @bind-Value="cliente.Apellidos" class="col-sm-10" />
                </div>
                <div class="form-group row">
                    <label for="apodo" class="col-sm-2 col-form-label text-right">Apodo</label>
                    <InputText @bind-Value="cliente.Apodo" class="col-sm-10" />
                </div>

                <div class="form-group row">
                    <label for="tiposEstadosCiviles" class="col-sm-2 col-form-label text-right">Estado Civil</label>
                    <RadzenDropDown @bind-value="cliente.IdEstadoCivil"    class="col-sm-2" AllowClear="true" TValue="int"
                                    Data=@(EnumToAList.GetEnumEstadosCiviles().Select(tId => new { idEstadoCivil = tId.IdValue, Name = tId.Text }))
                                    TextProperty="Name" ValueProperty="idEstadoCivil" />
                </div>

                <div class="form-group row">

                    <RadzenCheckBox id="tieneConyuge" @bind-Value=cliente.TieneConyuge TValue="bool" class="offset-2" />
                    <label for="tieneConyuge" style="margin-left: 5px">Tiene Conyuge o Pareja</label>
                </div>
                <div class="form-group row">
                    <label for="sexos" class="col-sm-2 col-form-label text-right" >Sexo</label>
                    <RadzenRadioButtonList @bind-Value=@cliente.idSexo style="margin-top:6px" TValue="int" Change=@((args) => OnChange(args, "RadioButtonList with horizontal orientation")) >
                        <Items>
                            <RadzenRadioButtonListItem Text="Masculino" Value="1" />
                            <RadzenRadioButtonListItem Text="Femenino" Value="2" />
                        </Items>
                    </RadzenRadioButtonList>
                </div>
                </div>



</EditForm>

    </div>
</div>

<div class="grid">
    @if (loading)
    {
        <div class="loader">Cargando...</div>
    }

</div>


