@page "/equipos"


<h2>Marcas</h2>


<button class="btn btn-primary" @onclick="GetEquiposByParam">Get By Param</button>
@*<button class="btn btn-primary" @onclick="GetAll">Get All</button>*@
<button class="btn btn-primary" @onclick="Clear">Limpiar lista</button>

<EditForm Model="@EquiposService" OnValidSubmit="SaveEquipo" OnInvalidSubmit="RaiseInvalidSubmit">

    <div class="form-group">
        <label for="codigo">Codigo</label>
        <InputText id="codigo" class="form-control col-md-2" @bind-Value="Equipo.Codigo"></InputText>
    </div>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <InputText id="nombre" class="form-control col-md-4" @bind-Value="Equipo.Nombre"></InputText>
    </div>
    <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <InputText id="descripcion" class="form-control col-md-4" @bind-Value="Equipo.Descripcion"></InputText>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Guardar" />
    </div>


</EditForm>


@if (loading)
{
    <div class="loader">Cargando datos, espere...</div>
}



<table class="table table-responsive-md table-hover">
    <thead>
        <tr>
            <th>IdMarca</th>
            <th>Nombre</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        @if (equipos.Count() > 0)
        {
            @foreach (var item in equipos)
            {
                <tr>
                    <td>@item.IdEquipo</td>
                    <td>@item.Nombre</td>
                </tr>
            }

        }
        else
        {
            <tr>
                <td>No Existen Datos</td>
            </tr>
        }
    </tbody>
</table>
