@page "/"
<div class="text-center">
    <h1> Bienvenido</h1>
    <PcpPrestamoLogo>
        <p>Felicidades Inicie sus operaciones</p>
    </PcpPrestamoLogo>
    Powered by PcProg
</div>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
