@page "/"


<div class="text-center">
    <h1> Bienvenido</h1>
    <img class="perc30" src="/_content/Images/Site/pcpprestamo-07.jpg" />
    <h3 class="padZero"> Un mundo de grandes posibilidades para sus operaciones financieras</h3>
    <p class="padZero">Comunicate con nosotros al <i class="fa  fa-phone"> <i class="fa fa-whatsapp"> 809-550-8455 </i> </i>,  <i class="fa  fa-phone"> 809-813-1251 </i> </p>
    <p class="padZero">La Romana, Republica Dominicana</p>
    <p class="padZero">Para Mas informacion visitanos nuestro <a href="http://www.pcpapps.com">Website </a></p>
    Powered by Blazor
</div>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
