@page "/marcas"


<h2>Probando operacion de marcas</h2>
<p>al pusar sobre uno de los botones ejecutara el proceso de hacer el request al api</p>
<p>es solo para probar de manera basica e inicial la comunicacion entre blazor  y el api</p>

<button class="btn btn-primary" @onclick="GetMarcasByParam">Get By Param</button>
<button class="btn btn-primary" @onclick="GetAll">Get All</button>
<button class="btn btn-primary" @onclick="Clear">Limpiar lista</button>

<EditForm Model="@Marca" OnValidSubmit="SaveMarca" OnInvalidSubmit="RaiseInvalidSubmit">

    <div class="form-group">
        <label for="codigo">Codigo</label>
        <InputText id="codigo" class="form-control col-md-2" @bind-Value="Marca.Codigo"></InputText>
    </div>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <InputText id="nombre" class="form-control col-md-4" @bind-Value="Marca.Nombre"></InputText>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Guardar" />
    </div>


</EditForm>


@if (loading)
{
    <div class="loader">Cargando datos, espere...</div>
}

@foreach (var item in marcas)
{
    <ol>
        <li>
            @item.IdMarca @item.Codigo  @item.Nombre
        </li>
    </ol>
}
}