@page "/marcas"


<h2>Marcas</h2>


<button class="btn btn-primary" @onclick="GetMarcasByParam">Get By Param</button>
<button class="btn btn-primary" @onclick="GetAll">Get All</button>
<button class="btn btn-primary" @onclick="Clear">Limpiar lista</button>

<EditForm Model="@Marca" OnValidSubmit="SaveMarca" OnInvalidSubmit="RaiseInvalidSubmit">

    <div class="form-group">
        <label for="codigo">Codigo</label>
        <InputText id="codigo" class="form-control col-md-2" @bind-Value="Marca.Codigo"></InputText>
    </div>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <InputText id="nombre" class="form-control col-md-4" @bind-Value="Marca.Nombre"></InputText>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Guardar" />
    </div>


</EditForm>




<table class="table table-responsive-md table-hover">
    <thead>
        <tr>
            <th>IdMarca</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @if (marcas == null)
        {
            <p>Cargando datos ejecute una busqueda</p>
        }
        else
        {
            @foreach (var item in marcas)
            {
                <tr>
                    <td>@item.IdMarca</td>
                    <td>@item.Nombre</td>
                </tr>
            }
        }
        </tbody>
</table>
