@page "/localidadesnegocios/createoredit"
@page "/localidadesnegocios/createoredit/{IdLocalidadNegocio:int}"
@using PrestamoBlazorApp.Shared.Components.LocalidadesNegocios
@inherits BaseForCreateOrEdit

<div class="card">
    <div class="card-header">
        <MudText Color="MudBlazor.Color.Info" Typo="Typo.h4" Align="Align.Center">Creacion y Edicion de Localidades de Negocios</MudText>
       @* <h4 class="card-title">Creacion y edicion de localidades de negocio </h4>*@
    </div>
    <div class="card-body">
        <CreateLocalidadesNegocios IdLocalidadNegocio="IdLocalidadNegocio"></CreateLocalidadesNegocios>
    </div>

</div>


@code {

}
