@inherits BaseForCreateOrEdit

<h1>
    Listado De @(Catalogo.NombreTabla != null ? Catalogo.NombreTabla.Replace("tbl", "") : "")
    <button class="btn btn-primary" @onclick="()=>CreateOrEdit()">Agregar</button>
    <div class="dropdown show">
        <a class="btn btn-secondary " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-th"></i>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <button class="dropdown-item" @onclick="()=>PrintListado(1)">
                <i class="fa fa-file-pdf-o"></i> PDF
            </button>
            <button class="dropdown-item" @onclick="()=>PrintListado(2)">
                <i class="fa fa-file-excel-o"></i> EXCEL
            </button>

        </div>
    </div>
</h1>
<div class="row" style="display:flex;justify-content:flex-end;">
  
</div>
<div class="modal fade" id="ModalCreateOrEdit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @if (Catalogo.IdTabla == "" && Catalogo.Id > 0)
                {
                    <h5 class="modal-title" id="edtMarcaTitel">Editar Color</h5>
                }
                else
                {
                    <h5 class="modal-title" id="edtMarcaTitel">Crear Color</h5>
                }

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-md-12">
                <EditForm Model="Catalogo" OnValidSubmit="SaveCatalogo" OnInvalidSubmit="RaiseInvalidSubmit">
                    <DataAnnotationsValidator />
                    @*<ValidationSummary/>*@
                    <div class="row">
                        <div class="col-md-12">
                           
                            <div class="form-group">
                                <label for="codigo">Codigo</label>
                                <InputText id="codigo" class="form-control col-md-4" @bind-Value="Catalogo.Codigo"></InputText>
                            </div>
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <InputText id="nombre" class="form-control col-md-6" @bind-Value="Catalogo.Nombre"></InputText>
                                <ValidationMessage For="() => Catalogo.Nombre" />
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </div>
                </EditForm>
            </div>

        </div>
    </div>
</div>
<table class="table table-responsive-md table-hover table-sm">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Operacion</th>
        </tr>
    </thead>
    <tbody>
        @if (catalogos.Count() > 0)
        {
            @foreach (var item in catalogos)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>
                        @*<button class="btn btn-outline-warning">
            <i class="oi oi-document"></i>
        </button>*@

                        <button  onclick="alert('opcion no implementada aun')" title="ver detalles" class="btn btn-outline-primary">
                            <i class="fa fa-info-circle"></i>
                        </button>
                        <button @onclick="()=>CreateOrEdit(item.Id)" class="btn btn-outline-primary">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button @onclick="() => Eliminar()" title="Anular o Eliminar" class="btn btn-outline-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>

            }
        }
        else
        {
            <tr>
                <td>Cargando datos ejecute una busqueda</td>
            </tr>

        }
    </tbody>
</table>