@page "/async"
@inherits BaseForCreateOrEdit
<h3>AsyncUnderstanding</h3>
<button @onclick="TestAsyncOk">Pulse aqui para ejecutar las tareas asincrona correctamente</button>
<button @onclick="TestAsyncBad">Pulse aqui para ejecutar las tareas asincrona incorrectamente</button>
