
@page "/coloresOld"
@layout = 
@inherits BaseForCreateOrEdit
@using PrestamoBlazorApp.Shared.Components.Catalogos
<CreateOrEditCatalogoOld Catalogo="_Catalogo" CatalogoGetParams="_CatalogoGetParams"></CreateOrEditCatalogoOld>
@*<a href="https://localhost:44369/api/Reports/CatalogoReportList?ReportType=1" class="btn btn-outline-dark" target="_blank">PDF</a>*@
@*<button class="btn btn-outline-dark" @onclick="PrintListado"></button>*@
@*<a href="https://localhost:44369/api/Reports/CatalogoReportList?ReportType=1" class="btn btn-outline-dark" target="_blank">PDF</a>*@