@page "/clientes/detallescliente/{idCliente}"
@using PrestamoEntidades;
@using PrestamoBlazorApp.Shared;
@using PrestamoBlazorApp.Pages.Clientes;
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavigationManager

<MudGrid>
    <MudText Typo="Typo.h4">Ver detalles de clientes @idCliente</MudText>
    <MudText Typo="Typo.h4">Aun no implementado</MudText>
</MudGrid>
@*
<div class="grid-container">
    <h2>Ver detalles de clientes @idCliente</h2>
    <h3>Aun no implementado</h3>
</div>*@

@code
{
    [Parameter]
    public string idCliente { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}