<div class="row">
    <div class="col-sm-6">
        <h2> donde vive la persona ?</h2>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">buscar Sector</label>
            <InputText  @bind-Value=@searchDireccion.SearchSector class="col-sm-8" />
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">Localidad Seleccionada</label>
            <InputText  @bind-Value=@searchDireccion.SelectedLocalidad class="col-sm-8" />
        </div>


        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">Calle</label>
            <InputText @bind-Value=@direccion.Calle class="col-sm-8" />
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">Latitud</label>
            <input type="number" value="@direccion.Latitud" class="col-sm-8" />

        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">Longitud</label>
            <input type="number" value="@direccion.Longitud" class="col-sm-8" />
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">Detalles</label>
            <InputText @bind-Value=@direccion.Detalles class="col-sm-8" />
        </div>
    </div>
    <div class="col-sm-6">
        <h2>Mapa</h2>
        <div>
            <RadzenGoogleMap style="height: 400px" Zoom=@zoom Center=@(new GoogleMapPosition() { Lat = 18.43190, Lng = -69.98503 }) MapClick=@OnMapClick MarkerClick=@OnMarkerClick>
                <Markers>
                    <RadzenGoogleMapMarker Title="Clinica Coral" Label="CLinca Coral" Position=@(new GoogleMapPosition() { Lat = 18.43190, Lng = -68.98503 }) />
                </Markers>
            </RadzenGoogleMap>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public Direccion direccion { get; set; }
    [Parameter]
    public Cliente cliente { get; set; }

    [Parameter]
    public SearchDireccion searchDireccion { get; set; }
    private string searchSector { get; set; }

    private string selectedLocalidad { get; set; }

    int zoom = 10;
    bool showMadridMarker;
    EventConsole console;

    void OnMapClick(GoogleMapClickEventArgs args)
    {
        console.Log($"Map clicked at Lat: {args.Position.Lat}, Lng: {args.Position.Lng}");
    }

    void OnMarkerClick(RadzenGoogleMapMarker marker)
    {
        console.Log($"Map {marker.Title} marker clicked. Marker position -> Lat: {marker.Position.Lat}, Lng: {marker.Position.Lng}");
    }

    protected override async Task OnInitializedAsync()
    {
        this.searchSector = string.Empty;
        this.selectedLocalidad = string.Empty;
    }
}
