<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="emtsoft.ECS" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="Dataserver"        providerName="System.Data.SqlClient" connectionString="data source=.\sqlexpress2016; initial catalog=PcpPrestamo;User Id=sa; pwd=sql2016; Integrated Security=false;Persist Security Info=False;" />
    <add name="DataserverAbdiel"  providerName="System.Data.SqlClient" connectionString="data source=.\sqlexpress2016; initial catalog=PcpPrestamo_dev; Integrated Security=true;Persist Security Info=False;" />
    <add name="DataserverBryan" providerName="System.Data.SqlClient" connectionString="Data Source=LAPTOP-A8PO1HCF\SQLMONOGRAFICO; initial catalog=PcpPrestamo;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False" />
  </connectionStrings>
</configuration>