<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="emtsoft.ECS" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="Dataserver" providerName="System.Data.SqlClient" connectionString="Data Source=LAPTOP-A8PO1HCF\SQLMONOGRAFICO;initial catalog=PcpPrestamo;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False" />
    <!--<add name="Dataserver" providerName="System.Data.SqlClient" connectionString="data source=.\sqlexpress2012; Initial Catalog=PcpPrestamo;User Id=sa; pwd=sql2012; Integrated Security=false;Persist Security Info=False;" />-->
    <add name="Dataserver2" providerName="System.Data.SqlClient" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=sa;Initial Catalog=pcprog_prestamos;Data Source=ABDIELLENW510\MONICA10" />
    <!--  <add name="DataServer_" providerName="System.Data.SqlClient" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=PcProg_Prestamos;Data Source=ABDIELX201\PCPROG"/> -->
  </connectionStrings>
  

</configuration>