<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="emtsoft.ECS" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="Dataserver" providerName="System.Data.SqlClient" connectionString="data source=.\sqlexpress2016; initial catalog=PcpPrestamo;User Id=sa; pwd=sql2016; Integrated Security=false;Persist Security Info=False;" />
    <add name="DataserverAbdiel" providerName="System.Data.SqlClient" connectionString="data source=.\sqlexpress2016; initial catalog=PcpPrestamo_dev; Integrated Security=true;Persist Security Info=False;" />
    <add name="DataserverBryan" providerName="System.Data.SqlClient" connectionString="Data Source=LAPTOP-A8PO1HCF\SQLMONOGRAFICO; initial catalog=PcpPrestamo;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False" />
    <add name="DataserverAlvaro" providerName="System.Data.SqlClient" connectionString="Data Source=.; Initial Catalog=DBPcpModelApp; Integrated Security=True;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>