<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="emtsoft.ECS" value="false" />
		<add key="GrantAdminsFullAccess"  value="true" />
	</appSettings>
	<connectionStrings>
		<add name="Dataserver" providerName="System.Data.SqlClient" connectionString="data source=.\sqlexpress2016; initial catalog=PrestamoDB;User Id=sa; pwd=sql2016; Integrated Security=false;Persist Security Info=False;" />
		<add name="DataserverAbdiel" providerName="System.Data.SqlClient" connectionString="data source=.\sqlexpress2016; initial catalog=PcpPrestamo_api;User Id=sa; pwd=sql2016; Integrated Security=false;Persist Security Info=False;" />
		<add name="DataserverAbdiel2" providerName="System.Data.SqlClient" connectionString="data source=.\sqlexpress2016; initial catalog=PcpPrestamo_api;User Id=sa; pwd=sql2016; Integrated Security=false;Persist Security Info=False;" />
		<add name="DataserverLuis2" providerName="System.Data.SqlClient" connectionString="data source=20.80.1.16; initial catalog=PrestamoDB;User Id=sa; pwd=sql2016; Integrated Security=false;Persist Security Info=False;" />
		<add name="DataserverLuis" providerName="System.Data.SqlClient" connectionString="data source=.\sqlexpress2016; initial catalog=PrestamoDB;User Id=sa; pwd=sql2016; Integrated Security=false;Persist Security Info=False;" />
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
