


<div id="dialog2" class="d-none" title="Basic dialog">
    <p> Probando el dialogo </p>
</div>
<div id="dialog"></div>

<div id="#mensajeAfterDialog"> mensaje para probar</div>
@section scripts
{
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $("#dialog2").dialog({
            autoOpen: true,
            modal: true,
            width: 200,
            draggable: true,
            resizable: true,
            position: [10, 5, 30, 10]
        })

        ConfirmDialog('Esta Seguro de proceder', '!Guardar Prestamo!');
        function ConfirmDialog(message, title) {
            $('<div></div>').appendTo('#dialog')
                .html('<div><h6>' + message + '?</h6></div>')
                .dialog({
                    modal: true,
                    title: title,
                    zIndex: 10000,
                    autoOpen: true,
                    width: 'auto',
                    resizable: false,
                    buttons: {
                        Si: function () {
                            // $(obj).removeAttr('onclick');
                            // $(obj).parents('.Parent').remove();
                            alert("si option")
                            $('#mensajeAfterDialog').append('<h1>Confirm Dialog Result: <i>Yes</i></h1>');
                            $(this).dialog("close");
                        },
                        No: function () {
                            $('#mensajeAfterDialog').append('<h1>Confirm Dialog Result: <i>No</i></h1>');
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
        };
    </script>
}