@{
    Layout = "~/Views/Shared/_LayoutWithNoContent.cshtml";
}
    <h1>Vea aqui donde obtener mas informacion de JQUERY CONFIRM</h1>
    <a href="https://craftpip.github.io/jquery-confirm/"> link para ir a la pagina oficial de jquery-confirm</a>
    <ul>
        <li>
            <button type="button" onclick="Alert()">Alerta</button>
        </li>
        <li>
            <button type="button" onclick="Confirm()">Confirmar</button>
        </li>
    </ul>

@section scripts
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script>
        function Alert() {
            $.alert({
                title: 'Alert!',
                content: 'Simple alert!',
            });
        }
        function Confirm() {
            
            $.confirm({
                title: 'Confirm!',
                content: 'Simple confirm!',
                buttons: {
                    Si: function () {
                        $.alert('Confirmed!');
                    },
                    No: function () {
                        $.alert('Canceled!');
                    },
                    somethingElse: {
                        text: 'Something else',
                        btnClass: 'btn-blue',
                        keys: ['enter', 'shift'],
                        action: function () {
                            $.alert('Something else?');
                        }
                    }
                }
            });
        }
    </script>
}
