@{
    Layout = "~/Views/Shared/_LayoutWithNoContent.cshtml";
 }

<body>
    <h1>Confirm notification</h1>
    <button>Show confirmation</button>
    <script>
    $(function () {
        'use strict';

        // PNotify config
        PNotify.prototype.options.styling = "bootstrap2";

        // Event bind
        $('button').on('click', confirm);

        // PNotify wrapper
        function pNotify() {

            var defaultSettings = {
                icon: 'glyphicon glyphicon-question-sign'
            };

            var confirmSettings = {
                confirm: true,
                buttons: {
                    closer: false,
                    sticker: false
                },
                hide: false,
                history: {
                    history: false
                }
            };

            var _api = {
                confirm: confirm
            };

            return _api;

            ////////////

            function factory(settings) {
                settings = $.extend({}, defaultSettings, settings);

                return new PNotify({
                    title: settings.title,
                    text: settings.text,
                    icon: 'glyphicon glyphicon-question-sign',
                    hide: false,
                    confirm: {
                        confirm: true
                    },
                    buttons: {
                        closer: false,
                        sticker: false
                    },
                    history: {
                        history: false
                    }
                });
            }

            function confirm(settings) {
                confirmSettings.title = settings.title;
                confirmSettings.text = settings.text;

                var result = factory(confirmSettings).get();

                return {
                    then: function (onConfirm, onCancel) {
                        result.on('pnotify.confirm', onConfirm);
                        result.on('pnotify.cancel', onCancel);
                    }
                };
            }
        }

        // Usage
        function confirm() {
            pNotify()
                .confirm({
                    title: 'Confirm',
                    text: 'Do you really want to remove this item?'
                })
                .then(function onConfirm() {
                    alert('Removido!');
                },function onCancel() {
                    alert('Cancelado!');
                });
        }
    });
    </script>
</body>

</html>