/*Este archivo es para establecer los diseños globales de la plataforma*/

input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=search],
input[type=file],
input[type=datetime],
select.form-control,
select option,
textarea.form-control {
    border-radius: 20px;
}
img.perc10 {
    height: 10%;
    width: 10%;
}

img.perc30 {
    height: 30%;
    width: 30%;
}
img.perc50 {
    height: 50%;
    width: 50%;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.padZero {
    margin: 0.5px;
}

/*Estilos para datatable*/
.delete-row {
    color: #e92e2e;
}

thead tr {
    height: 40px;
}

.paging_simple_numbers {
    float: right;
}
/*Fin de estilos para datatable*/