/*Diseños para mejorar la experiencia en los buscadores*/
p strong {
    pointer-events: none;
}

p span {
    pointer-events: none;
}

p small {
    pointer-events: none;
}


p span span {
    pointer-events: none;
}

p img {
    pointer-events: none;
}

i {
    pointer-events: none;
}
