<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppForRDLCDesing.Properties.Settings.PrestamoDBConnectionString"
            connectionString="Data Source=(local)\sqlexpress2016;Initial Catalog=PrestamoDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AppForRDLCDesing.Properties.Settings.PcpPrestamo_ApiConnectionString"
            connectionString="Data Source=LENOVO-LEGION\SQLEXPRESS2016;Initial Catalog=PcpPrestamo_Api;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>