@using PrestamoBlazorApp.Shared.Components.Forms


@inherits BaseForCreateOrEdit
<div class="grid-container">
    <EditForm Model="@Codeudor">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="bg-secondary">
            <h3 class="text-left">Crear o Editar Codeudores</h3>
            <div class="text-label-align">
                <button id="btnGuardar" type="button" @onclick="@SaveCodeudor">Guardar</button>
                @*<button id="btnsh" type="button" onclick="() =>$('#btnsh').prop('disabled',true)>show hide</button>*@
            </div>
        </div>
        @if (loading)
        {
            <div class="loader">Cargando...</div>
        }
        <MudTabs>
            <MudTabPanel Text="Ocupaciones">
                <div class="row">
                    <GeneralesCodeudorUI Ocupaciones="Ocupaciones" Codeudor="Codeudor" AllowInputCodigo=false OnEstadoCivilChange=@UpdateEstadoCivil
                                         FotosDocIdentificacion="FotosDocIdentificacion" FotosRostro="FotosRostro" RemoveImages="RemoveImages" SetImages="SetImages" />
                </div>
            </MudTabPanel>
            <MudTabPanel Text="Direccion">
                <DireccionUI direccion=@direccion />
            </MudTabPanel>
            <MudTabPanel Text="Laborales">
                <LaboralUI infoLaboral=@infoLaboral />
            </MudTabPanel>
        </MudTabs>
    </EditForm>
    @*<EventConsole @ref="@console"> </EventConsole>*@
</div>
@code{

}