@model MarcaVM


<div class="mb-5">
    <div class="col-5" style="margin: auto; padding: 0%; ">
        <h4 style="text-align: center;">¿Que cliente buscas?</h4>

        <input class="prestamo_target form-control" type="text" id="input-prestamo_search" autocomplete="off" placeholder="Buscar por numero de prestamo" name="name" value=""
               style="height: 60px" />

        <div style="float:right">
            <span>Tipo de busqueda: </span>
            <input type="radio" class="flat searchtype" checked id="search-by-prestamo" value="1" style="float:right;" />
            <i class="fa fa-dollar"></i> NO. Prestamo
            <input type="radio" class="flat searchtype" id="search-by-user" value="2" style="float:right;" />
            <i class="fa fa-user"></i> Cliente
            <input type="radio" class="flat searchtype" id="search-by-garantia" value="3" style="float:right;" />
            <i class="fa fa-automobile"></i> Garantia
        </div>

        <div id="list-prestamo-container">

            <div class="list-group col-md-12" id="list-prestamo-tab" role="tablist" style="position: absolute; z-index:2; padding: 0%; vertical-align: middle;">
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div id="listContainer" class="col-md-12 col-sm-12 col-xs-12">

        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" style="float:right;">Agregar modal</button>*@
        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal-marcas" style="float:right;">Agregar <i class="fa fa-plus"></i></button>*@

        <h4>Tabla de marcas</h4>
        <div class="x_panel">
            <div class="x_content">
                <table id="datatable" class="table bulk_action" style="width:100%; text-align:center;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Marca</th>
                            @*<th>Acciones</th>*@
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.ListaMarcas)
                        {
                            <tr class="@(!item.Activo ? "table-active" : "" )">
                                <td></td>
                                <td>
                                    <strong>
                                        @item.Nombre
                                    </strong>
                                </td>

                                @*<td>
                                    <a href="@Url.Action("Delete", "TasaInteres", new { Id = item.idTasaInteres, Usuario = "Bryan" })">
                                            <button type="button" class="btn btn-outline-danger">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </a>
                                    <a href="#">
                                        <button class="btn btn-outline-warning">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </a>
                                </td>*@
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @* Formulario para agregar tasas de interes *@


    @* Fin de formulario para agregar tasas de interes *@
</div>

@*Modal de agregar intereses*@
<div class="modal fade modal-marcas" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2">Agrega marca</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                @*form*@

                <div class="col-sm-12" id="formAgregarTasaInteres">

                    <div class="x_panel">

                        <div class="x_content">
                            <br />
                            @using (Html.BeginForm("CreateOrEdit", "Marcas", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                            {

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="nombre">
                                        Nombre <span class="required">*</span>
                                    </label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.Marca.Nombre, new { @class = "form-control", @required = "required" })
                                    </div>
                                </div>



                                <div class="ln_solid"></div>
                                <div class="item form-group" style="float: right;">
                                    <div class="col-md-6 col-sm-6 offset-md-3">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                                @*</form>*@
                            }
                        </div>
                    </div>
                </div>

                @*form*@



            </div>
        </div>
    </div>
</div>

@section prevscripts {



    <script>
        //Parametros de configuracion
        IMAGEN_CLIENTE_EN_BUSCADOR = false;
        IMAGEN_CLIENTE_EN_DETALLES = false;
        DETALLES = true;

        const onEnter = async function () {
            let idPrestamo = $('[data-order="' + selectPointer + '"]').attr('data-idPrestamo');
            let photoRoot = $('[data-order="' + selectPointer + '"]').attr('data-client-photo');

            // Funcion para buscar informacion del prestamo
            res = await loadPrestamoData(idPrestamo);
            showdata(res);
        };
        const onClick = async function (evt) {
            let idPrestamo = evt.target.getAttribute('data-idPrestamo');
            let photoRoot = evt.target.getAttribute('data-client-photo');

        };

        function showdata(data) {
            alert("Hola mundo");
            console.log('esto son datos de prueba', data);
        }

        let onNewButton = function () {
            $('.modal-marcas').modal('show');
        }

        $(document).ready(function () {
            $('#datatable').DataTable(dataTableConfiguration);
            removeTemplateConfiguration();
        });
    </script>
    <script src="~/Scripts/Apps/Prestamo/search.js"></script>
}