
@model GarantiaVM
@section pagestyle
{
    
    @*<link href="/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet" />*@
    <link href="~/Content/customcss/Ingresos/garantiasSlider.css" rel="stylesheet" />
}

<style>
</style>

<div class="mb-5">
    <div class="col-5" style="margin: auto; padding: 0%; ">
        <h4 style="text-align: center;">¿Que cliente buscas?</h4>

        <input class="prestamo_target form-control" type="text" id="input-prestamo_search" autocomplete="off" placeholder="Buscar por numero de prestamo" name="name" value=""
               style="height: 60px" />

        <div style="float:right">
            <span>Tipo de busqueda: </span>
            <input type="radio" class="flat searchtype" checked id="search-by-prestamo" value="1" style="float:right;" />
            <i class="fa fa-dollar"></i> NO. Prestamo
            <input type="radio" class="flat searchtype" id="search-by-user" value="2" style="float:right;" />
            <i class="fa fa-user"></i> Cliente
            <input type="radio" class="flat searchtype" id="search-by-garantia" value="3" style="float:right;" />
            <i class="fa fa-automobile"></i> Garantia
        </div>

        <div id="list-prestamo-container">

            <div class="list-group col-md-12" id="list-prestamo-tab" role="tablist" style="position: absolute; z-index:2; padding: 0%; vertical-align: middle;">
            </div>
        </div>
    </div>
</div>
<hr />

@using (Html.BeginForm("MakePay", "Ingresos", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form", @id = "garantia" }))
{

    <input type="hidden" name="idprestamo" value="-1" />
    <div class="row mt-5 pb-5">
        <div style="margin:0 auto;">
            <div class="col-md-4 ">

                <div class="card shadow text-white bg-danger amount-container">
                    <span>Monto total de deuda:</span>
                    <div class="card-body">
                        <span id="monto-prestado-input" class="card-title amount-text">$0.00</span>
                    </div>
                </div>
                <div style="float:right;">
                    <small> <strong>Inicio:</strong> 11 Mayo 2019 <strong>Fin:</strong> 10 Septiembre 2023</small>
                </div>

            </div>
            <div class="col-md-4">

                <div class="card shadow text-white bg-primary amount-container">
                    <span>Monto de la cuota:</span>
                    <div class="card-body">
                        <span id="monto-cuota-input" class="card-title amount-text">$0.00</span>
                    </div>
                </div>
                <div style="float:right;">
                    <small>Capital: $3,000.00 Interes: $1,080.00 Mora: $0.00</small>
                    <span style="font-size:large;">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card shadow  bg-light amount-container">
                    <span>Monto:</span>
                    <div class="card-body" style="text-align:center;">
                        <input type="text" name="currency-field" class="input-amount" id="input-amount-pay" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$0.00">
                    </div>
                </div>
                <div style="float:right;">
                    <small>cuota a la fecha del 11 mayo 2020</small>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align:center;">
        @*<button class="btn btn-success">Pagar <i class="fa fa-dollar"></i></button>*@
        <button type="submit" class="btn btn-primary" style="float:right;">Pagar <i class="fa fa-dollar"></i></button>

    </div>

}

<hr />

@* Datos personales del usuario *@
<div class="row mt-5 pb-5" id="details-container" style="display: none;">

    <div class="col-md-4 mt-3">
        <div class="shadow p-3 bg-light rounded">
            <div class="x_title">
                <h2>Datos personales</h2>
                <div style="float:right;">
                    <button type="button" class="btn btn-primary" id="btnFormTasaInteres">Ver cliente</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="mb-2">
                <img id="foto-cliente" width="100" height="auto" src="" style="border: 1px solid #666; border-radius: 10px;" />
            </div>
            <div class="row">
                <div class="col-md-12">

                    <strong>Nombre:</strong>
                    <span id="nombre-cliente"></span>
                    <br />
                    <br />
                    <strong>Apellido:</strong>
                    <span id="apellido-cliente"></span>
                    <br />
                    <br />
                    <strong id="tipo-documento-cliente">Cedula:</strong>
                    <span id="id-documento-cliente"></span>
                    <br />
                    <br />
                    <strong>Informacion general:</strong>
                    <span id="detalles-cliente"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 mt-3">
        <div class="shadow p-3 bg-light rounded">
            <div class="x_title">
                <h2>Datos de garantia</h2>
                <div style="float:right;">
                    <button type="button" class="btn btn-primary" id="btnFormTasaInteres">Ver garantia</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @*<span>Aqui pienso poner un slider con las diferentes garantias y sus detalles</span>*@
                    @*<img width="100%" height="auto" src="https://i0.wp.com/css-tricks.com/wp-content/uploads/2017/10/slider-5.gif?w=300&ssl=1" alt="Alternate Text" />*@

                    <div class="slider">
                        <div id="buttons">
                        </div>
                        <div class="slides">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 mt-3">
        <div class="shadow p-3 bg-light rounded">
            <div class="x_title">
                <h2>Datos de Prestamo</h2>
                <div style="float:right;">
                    <button type="button" class="btn btn-primary" id="btnFormTasaInteres">Ver prestamo</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <strong>Numero de prestamo:</strong>
                    <span id="numero-prestamo"></span>
                    <br />
                    <br />
                    <strong>Fecha emision:</strong>
                    <span id="fecha-emision-prestamo"></span>
                    <br />
                    <br />
                    <strong>Fecha vencimiento:</strong>
                    <span id="fecha-vencimiento-prestamo"></span>
                    <br />
                    <br />
                    <strong>Tipo mora:</strong>
                    <span id="mora-prestamo"></span>
                    <br />
                    <br />
                    <strong>Clasificacion:</strong>
                    <span id="clasificacion-prestamo"></span>
                    <br />
                    <br />
                    <strong>Informacion general:</strong>
                    <span id="detalles-prestamo"></span>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    .containera {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .amount-text {
        text-align: center;
        font-weight: 600;
        font-size: 30px;
    }

    .card-body {
        text-align: center;
    }

    .amount-container {
        padding: 5px;
    }

    .amount-prefix {
        font-weight: 400;
        font-size: 16px;
    }

    /*amount input*/
    .input-amount {
        border: 0px solid #333;
        border-radius: 5px;
        color: #333;
        width: 100%;
        background-color: #f8f9fa;
        text-align: center;
        font-weight: 600;
        font-size: 30px;
    }
</style>


@section scripts
{
    <script>

        $("input[data-type='currency']").on({
            keyup: function () {
                formatCurrency($(this));
            },
            blur: function () {
                formatCurrency($(this), "blur");
            }
        });

        function formatNumber(n) {
            // format number 1000000 to 1,234,567
            return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }

        function formatCurrency(input, blur) {
            // appends $ to value, validates decimal side
            // and puts cursor back in right position.

            // get input value
            var input_val = input.val();

            // don't validate empty input
            if (input_val === "") { return; }

            // original length
            var original_len = input_val.length;

            // initial caret position
            var caret_pos = input.prop("selectionStart");

            // check for decimal
            if (input_val.indexOf(".") >= 0) {

                // get position of first decimal
                // this prevents multiple decimals from
                // being entered
                var decimal_pos = input_val.indexOf(".");

                // split number by decimal point
                var left_side = input_val.substring(0, decimal_pos);
                var right_side = input_val.substring(decimal_pos);

                // add commas to left side of number
                left_side = formatNumber(left_side);

                // validate right side
                right_side = formatNumber(right_side);

                // On blur make sure 2 numbers after decimal
                if (blur === "blur") {
                    right_side += "00";
                }

                // Limit decimal to only 2 digits
                right_side = right_side.substring(0, 2);

                // join number by .
                input_val = "$" + left_side + "." + right_side;

            } else {
                // no decimal entered
                // add commas to number
                // remove all non-digits
                input_val = formatNumber(input_val);
                input_val = "$" + input_val;

                // final formatting
                if (blur === "blur") {
                    input_val += ".00";
                }
            }

            // send updated string to input
            input.val(input_val);

            // put caret back in the right position
            var updated_len = input_val.length;
            caret_pos = updated_len - original_len + caret_pos;
            input[0].setSelectionRange(caret_pos, caret_pos);
        }
    </script>
    <script src="~/Scripts/Apps/Prestamo/search.js"></script>


    @* Para el buscador de prestamos *@
    <script>

        //Parametros de configuracion
        IMAGEN_CLIENTE_EN_BUSCADOR = true;
        IMAGEN_CLIENTE_EN_DETALLES = false;
        DETALLES = true;
        const onClick = async function (evt) {
            //let idPrestamo = evt.target.getAttribute('data-idPrestamo');
            //let photoRoot = evt.target.getAttribute('data-client-photo');

            res = await loadPrestamoData(evt.currentTarget.getAttribute('data-idPrestamo'));
            let photoDetails = null;
            if (IMAGEN_CLIENTE_EN_DETALLES) {
                photoDetails = evt.currentTarget.getAttribute('data-client-photo');
            }
            showDataInField(JSON.parse(res), photoDetails);
        };
        const onEnter = async function () {

            let idprestamo = $('[data-order="' + selectPointer + '"]').attr('data-idPrestamo');
            let photoRoot = $('[data-order="' + selectPointer + '"]').attr('data-client-photo');

            res = await loadPrestamoData(idprestamo);
            showDataInField(JSON.parse(res), photoRoot);
        };
        
        //Funcion que se ejecutara al ser presionado el item
        function showDataInField(data, photo) {
            console.log('el resultado es', data);
            console.log('el resultado foto', photo);

            // Encabezado
            $('#monto-prestado-input').text(formatter.format(data.infoPrestamo.TotalPrestado));

            //Info cliente
            $('#nombre-cliente').text(data.infoCliente.Nombres);
            $('#apellido-cliente').text(data.infoCliente.Apellidos);
            $('#id-documento-cliente').text(data.infoCliente.NumeracionDocumentoIdentidad);
            $('#tipo-documento-cliente').text(data.infoCliente.NombreDocumentoIdentidad + ':');
            $('#detalles-cliente').text(data.infoCliente.OtrosDetalles);
            if (photo === null) {
                $('#foto-cliente').hide();
            } else {
                $('#foto-cliente').attr("src", photo);
            }

            //Informacion prestamo
            $('#numero-prestamo').text(data.infoPrestamo.PrestamoNumero);
            $('#fecha-emision-prestamo').text(data.infoPrestamo.FechaEmisionReal);
            $('#fecha-vencimiento-prestamo').text(data.infoPrestamo.FechaVencimiento);
            $('#mora-prestamo').text(data.infoPrestamo.NombreTipoMora);
            $('#clasificacion-prestamo').text(data.infoPrestamo.NombreClasificacion);
            $('#detalles-prestamo').text(data.infoPrestamo.OtrosDetalles);

            // Cargar garantias

            if (data.infoGarantias.length > 0) {
                $(".slider #buttons").empty();
                $(".slides").empty();
                $.each(data.infoGarantias, function (index, value) {
                    $(".slider #buttons").append(` <a href="#slide-${index + 1}">${index + 1}</a> `);
                    $(".slides").append(`
                                <div id="slide-${index + 1}">
                                    <strong>Clasificacion:</strong>
                                    <span id="clasificacion-garantia">${value.Clasificacion}</span>
                                    <br />
                                    <br />
                                    <strong>Numeracion de garantia:</strong>
                                    <span id="numeracion-garantia">${value.NumeracionGarantia}</span>
                                    <br />
                                    <br />
                                    ${value.NombreMarca !== undefined ? `<strong>Marca:</strong> <span id="marca-garantia">${value.NombreMarca}</span> <br/><br/> ` : ''}
                                    ${value.NombreModelo !== undefined ? `<strong>Modelo:</strong> <span id="modelo-garantia">${value.NombreModelo}</span> <br/><br/> ` : ''}
                                    ${value.NombreTipoGarantia !== undefined ? `<strong>Tipo:</strong> <span id="tipo-garantia">${value.NombreTipoGarantia}</span> <br/><br/> `:''}
                                    <strong>Informacion general:</strong>
                                    <span id="detalles-cliente">${value.OtrosDetalles}</span>
                                </div> `);
                });
            }
            $('#details-container').show();
        }
    </script>
}
