@inherits BaseForList

    <button type="submit" class="btn btn-primary" @onclick="VerGenerador">
        <i class="fa fa-line-chart">Reporte</i>
    </button>
    <div class="modal fade" id="ModalGenerarReporte" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edtMarcaTitel">Generador De Reportes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="col-md-12">
                    <EditForm Model="BaseReporteParams" OnValidSubmit="GenerarReporte">
                        <DataAnnotationsValidator />
                        @*<ValidationSummary/>*@
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="codigo">Ordenar Por</label>
                                    <InputSelect class="form-control" @bind-Value="BaseReporteParams.OrdenarPor">
                                        @*@foreach (var item in SearchOptions)
                                            {
                                                <option value="@item.Name">@item.Name</option>
                                            }*@            
                                        <option value="Nombres">Nombres</option>
                                        <option value="Apellidos">Apellidos</option>
                                        <option value="Codigo">Codigo</option>
                                        <option value="NoIdentificacion"># Identificacion</option>
                                        <option value="FechaIngreso">FechaIngreso</option>
                                        <option value="FechaNacimiento">FechaNacimiento</option>
                                    </InputSelect>
                                </div>
                                <div class="form-group">
                                 

                                        <div class="form-group">
                                            <label> Desde</label>
                                            <InputText class="form-control" @bind-Value="BaseReporteParams.ODesde" autocomplete="off"></InputText>
                                        </div>
                                        <div class="form-group">
                                            <label> Hasta</label>
                                            <InputText class="form-control" @bind-Value="BaseReporteParams.OHasta" autocomplete="off"></InputText>
                                        </div>
                                 
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label for="codigo">Rango</label>
                                    <InputSelect class="form-control" @bind-Value="BaseReporteParams.Rango" @onchange="()=>BaseReporteParams = new BaseReporteParams()">
                                        @*@foreach (var item in SearchOptions)
                                        {
                                            <option value="@item.Name">@item.Name</option>
                                        }*@
                                        <option value="Nombres">Nombres</option>
                                        <option value="Apellidos">Apellidos</option>
                                        <option value="Codigo">Codigo</option>
                                        <option value="NoIdentificacion"># Identificacion</option>
                                        <option value="FechaIngreso">FechaIngreso</option>
                                        <option value="FechaNacimiento">FechaNacimiento</option>
                                    </InputSelect>
                                </div>
                                <div class="form-group">
                                    @if (BaseReporteParams.Rango == "FechaIngreso" || BaseReporteParams.Rango == "FechaNacimiento")
                                    {
                                        <div class="form-group">
                                            <label> Desde</label>
                                            <InputDate class="form-control" @bind-Value="FDesde"></InputDate>
                                        </div>
                                        <div class="form-group">
                                            <label> Hasta</label>
                                            <InputDate class="form-control" @bind-Value="FHasta"></InputDate>
                                        </div>
                                    }
                                    else
                                    {

                                        <div class="form-group">
                                            <label> Desde</label>
                                            <InputText class="form-control" @bind-Value="BaseReporteParams.RDesde" autocomplete="off"></InputText>
                                        </div>
                                        <div class="form-group">
                                            <label> Hasta</label>
                                            <InputText class="form-control" @bind-Value="BaseReporteParams.RHasta" autocomplete="off"></InputText>
                                        </div>
                                    }
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label for="codigo">Formato</label>
                                    <InputSelect class="form-control" @bind-Value="BaseReporteParams.reportType">
                                        <option value="1">PDF</option>
                                        <option value="2">EXCEL</option>
                                    </InputSelect>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Generar</button>
                                </div>
                            </div>
                        </div>
                    </EditForm>
                </div>

            </div>
        </div>
    </div>
    @code {

    }
