<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>   
    <add key="Jwt:Key" value="@*sdioas9djD*__(-;-)__*sdjas89jd0qj9jasjd89asdj288282*@" />
    <add key="Jwt:Issuer" value="DevBoxDominicana" />
    <add key="Jwt:Audience" value="DevBoxPartners" />
	<add key="DefaultLoginUser" value="PcProg" />
	<add key="DefaultLoginPassword" value="pcp46232" />
	<add key="pcp8uiikisds" value="true" />
  </appSettings>
</configuration>