@page "/colores"
@inherits BaseForCreateOrEdit
@*<h2>Probando operacion de Colores</h2>
    <p>al pusar sobre uno de los botones ejecutara el proceso de hacer el request al api</p>
    <p>es solo para probar de manera basica e inicial la comunicacion entre blazor  y el api</p>

    <button class="btn btn-primary" @onclick="GetColoresByParam">Get By Param</button>
    <button class="btn btn-primary" @onclick="GetAll">Get All</button>
    <button class="btn btn-primary" @onclick="Clear">Limpiar lista</button>*@

<h1>Colores  <button class="btn btn-primary" @onclick="()=>CreateOrEdit()">Agregar</button></h1>
<div class="modal fade" id="ModalCreateOrEdit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @if (Color.IdColor > 0)
                {
                    <h5 class="modal-title" id="edtMarcaTitel">Editar Color</h5>
                }
                else
                {
                    <h5 class="modal-title" id="edtMarcaTitel">Crear Color</h5>
                }

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-md-12">
                <EditForm Model="@Color" OnValidSubmit="SaveColor" OnInvalidSubmit="RaiseInvalidSubmit">
                    <DataAnnotationsValidator/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="codigo">Codigo</label>
                                <InputText id="codigo" class="form-control col-md-4" @bind-Value="Color.Codigo"></InputText>
                            </div>
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <InputText id="nombre" class="form-control col-md-6" @bind-Value="Color.Nombre"></InputText>
                                <ValidationMessage For="() => Color.Nombre" />
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" >Guardar</button>
                            </div>
                        </div>
                    </div>
                </EditForm>
            </div>

        </div>
    </div>
</div>

@if (loading)
{
    <div class="loader">Cargando datos, espere...</div>
}


<table class="table table-responsive-md table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Operacion</th>
        </tr>
    </thead>
    <tbody>
        @if (colores.Count() > 0)
        {
            @foreach (var item in colores)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td> <button @onclick="()=>CreateOrEdit(item.IdColor)" class="btn btn-info"> Editar </button></td>
                </tr>

            }
        }
        else
        {
            <tr>
                <td>Cargando datos ejecute una busqueda</td>
            </tr>

        }
    </tbody>
</table>