
@{
    ViewBag.Title = "Index";
}

<h1>Gracias</h1>
<h2>Acaba de Crea un Negocio y un usuario con el login Name Administrador </h2>
<h2>La contrasena del administrador DEBE PREGUNTAR EN PC PROG AL SOPORTE puede cambiarla cuando guste </h2>
@Url.Action("Index","home")

