@model IEnumerable<PrestamoBLL.Entidades.Territorio>
<link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<div class="row">

    <div id="listContainer" class="col-md-12 col-sm-12 col-xs-12">

        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" style="float:right;">Agregar modal</button>*@
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#division-territorial-modal" id="btnFormTasaInteres" onclick="showTasaInteresForm()" style="float:right;">Agregar <i class="fa fa-plus"></i></button>
      
        <div class="x_panel">
            <div class="x_title">
                <h2>Listado de divisiones territoriales</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="datatable" class=" table-bordered table-striped row-border " style="width:100%; text-align:center;">
                    <thead>
                        <tr>
                            <th>Division territorial</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr class="@(!item.Activo ? "table-active" : "" )">
                                <td>
                                    <strong>
                                        @item.Nombre
                                    </strong>
                                </td>

                                <td>
                                    <button class="btn btn-outline-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <button class="btn btn-outline-warning">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="division-territorial-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar una division a la lista</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="x_panel">
                    
                    <div class="x_content">
                        <br />
                        @using (Html.BeginForm("GuardarDivisionTerritorial", "Territorio", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form", onsubmit = "validarDatos()" }))
                        {
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="codigo">
                                    Nombre <span class="required">*</span>
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" name="Nombre" id="nombre" value="" class="form-control" required />
                                </div>
                            </div>
                            <input type="hidden" name="IdLocalidadPadre" value="1" required />
                            <input type="hidden" name="PermiteCalle" value="0" required />

                            <div class="ln_solid"></div>
                            <div class="item form-group" style="float: right;">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style scoped>
    button{
        padding-bottom: 100px;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        $('#datatable').DataTable(dataTableConfiguration);
        removeTemplateConfiguration();
    });

    // Mostrar mensajes
    function validarDatos() {
        
        if ($('#nombre').val().length <= 2) {
            showMessage('error', 'El nombre debe ser mayor a 2 caracteres');
            event.preventDefault();
            return;
        }

        showMessage('success', 'Componente de division guardado correctamente.');
    }

    function showMessage(typeOfNotification, messageOfNotification) {
        var notification = new PNotify({
            title: typeOfNotification === 'error' ? 'Algo ocurrio mal' : 'Todo correcto',
            text: messageOfNotification,
            type: typeOfNotification,
            styling: 'bootstrap3',
        });
    }
</script>

<script src="../vendors/iCheck/icheck.min.js" type="7970e1e113382da18ac5720e-text/javascript"></script>