@using System
@using System.Collections.Generic
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop

@inject IJSRuntime JSRuntime

@if (@Markers.Count() == 1)
{
    var mark = Markers[0];
<div>
    <label>Actualmente Lat: @mark.Y Long: @mark.X  </label>
</div>
}

<div id="@elementId" style="height: 100%; width: 100%;"></div>


@code { string elementId = $"map-{Guid.NewGuid().ToString("D")}";

    [Parameter]
    public double Zoom { get; set; }

    [Parameter]
    public List<Marker> Markers { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync(
            "deliveryMap.showOrUpdate",
            elementId,
            Markers);
    } }
