@model IEnumerable<PrestamoEntidades.TasaInteres>

<div class="col-md-6 col-sm-6 col-xs-12">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" style="float:right;" >Agregar</button>
    <div class="x_panel">
        <div class="x_title">
            @*<button type="button" class="btn btn-primary btn-right" style="float:right;">Agregar</button>*@

            <h2>Tabla de intereses</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                @*<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Settings 1</a>
                        <a class="dropdown-item" href="#">Settings 2</a>
                    </div>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>*@
                <li>
                    <a data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-plus"></i></a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table">
                <thead>
                    <tr>
                        <th>% de interes</th>
                        <th>Estado</th>
                        <th>¿Autorizacion?</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <strong>
                                    @item.InteresMensual
                                </strong>
                            </td>
                            <td>
                                @if (item.Activo)
                                {
                                    <span class="badge badge-primary">Activo</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">Desactivado</span>
                                }

                            </td>
                            <td>
                                @if (item.RequiereAutorizacion)
                                {
                                    <span class="badge badge-primary">Si</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">No</span>
                                }
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>*@

@*Modal de agregar intereses*@
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>*@
                <h4 class="modal-title" id="myModalLabel2">Agrega un interes a la lista</h4>
            </div>
            <div class="modal-body">

                @*form*@

                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Form Design <small>different form elements</small></h2>
                                
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br>
                                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                                            Porcentaje de interes <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="first-name" required="required" class="form-control ">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                            Last Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="last-name" name="last-name" required="required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Middle Name / Initial</label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input id="middle-name" class="form-control" type="text" name="middle-name">
                                        </div>
                                    </div>
                                    <div>
                                        <div class=" modal-footer">
                                            <button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary">Enviar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                @*form*@



            </div>
        </div>
    </div>
</div>


