<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Inicio </a>
            </li>
            <li>
                <a><i class="fa fa-edit"></i>Actualizacion<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>
                        <a href="@Url.Action("Index", "TasaInteres")">Tasas de interes</a>
                    </li>
                    <li>
                        <a href="#">Catalogo de moras</a>
                    </li>
                    <li>
                        <a href="@Url.Action("CreateOrEdit","Clientes")">Crear Cliente Nuevo</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Clientes")">Listado de Clientes</a>
                        bb
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- sidebar menu -->