<!-- User Info sidebar -->
    <div class="profile clearfix">
        <div class="profile_pic">
            <img src="@AuthInSession.GetUserImageFilePath()" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>Bienvenido,</span>
            <h2>@AuthInSession.GetLoginName()</h2>
        </div>
    </div>
<!-- User Info sidebar -->