<!-- User Info sidebar -->
<div class="nav nav-collapse">
    <div class="profile clearfix ">
        <div class="profile_details">
            <span class=""> @Html.Raw(@AuthInSession.IsAnonimousUser ? "Su Empresa":"Papito Prestamo") </span>
            @*<img src="@AuthInSession.GetUserImageFilePath()" alt="..." class="img-circle profile_img">*@
            <img class="img-circle profile_thumb" src="@Url.Content(SiteImages.NegocioLogoConLetra)" />
        </div>
    </div>
</div>
<!-- User Info sidebar -->
