
    <div class="main_container">
        <div class="col-md-12">
            <div class="col-middle">
                <div class="text-center text-center">
                    <img src="~/Content/resources/images/acceso-denegado.png" style="width: 20%;" alt="access-denied" />
                    <h1>No tienes permiso para poder ingresar a este lugar.</h1>                    
                    <p >ERROR 403 [FORBIDDEN]</p>                    
                </div>
            </div>
        </div>
    </div>

    @*<style>
        img {
            width: 40%;
        }
    </style>*@
