@{
    ViewBag.Title = "Inicio";
}

    <div class="text-center">
        <h1> Bienvenido</h1>
        <img class="perc30 center" src="@Url.Content(SiteImages.AppLogoSinLetra)" />
        <h2 class="padZero"> PCP Prestamo</h2>
        <h3 class="padZero"> Un mundo de grandes posibilidades para sus operaciones financieras</h3>
        <p class="padZero">Comunicate con nosotros al <i class="fa  fa-phone"> <i class="fa fa-whatsapp"> 809-550-8455 </i> </i>,  <i class="fa  fa-phone"> 809-813-1251 </i> </p>
        <p class="padZero">La Romana, Republica Dominicana</p>
        <p class="padZero">Para Mas informacion visitanos nuestro <a href="http://www.pcpapps.com">Website </a></p>
        
        <p>escribenos a info@pcpapps.com</p>

        @{
            if (AuthInSession.IsAnonimousUser)
            {
                <button class="btn btn-info btn-large" onclick="window.location.href='@Url.Action("login", "account")'"> Iniciar Sesion</button>
            }
            else
            {
                <h3 class="text-info">Manos a la obra, escoge una opcion del menu</h3>
            }
        }
    </div>