@{
    ViewBag.Title = "Inicio";
}

<div class="text-center">
    <h1> Bienvenido</h1>
    <img class="perc30 center" src="~/Content/Images/pcpprestamo-07.jpg" />

    <h2 class="padZero"> Sistema de Prestamo</h2>
    <h3 class="padZero"> Un mundo de grandes posibilidades para sus operaciones financieras</h3>
    <p class="padZero">Comunicate con nosotros al 809-550-8455, 809-813-1251</p>
    <p class="padZero">La Romana, Rep. Dom. Calle Prolongacion Gregorio Luperon no 12</p>
    <p>escribenos a info@pcpapps.com</p>
    @{
        if (AuthInSession.IsAnonimousUser)
        {
            <button class="btn btn-info btn-large" onclick="window.location.href='@Url.Action("login", "account")'"> Iniciar Sesion</button>
        }
        else
        {
            <h3 class="text-info">Manos a la obra, escoge una opcion del menu</h3>
        }
    }
</div>