@page "/ocupaciones"
@inherits BaseForCreateOrEdit
@*<h2>Probando operacion de Colores</h2>
    <p>al pusar sobre uno de los botones ejecutara el proceso de hacer el request al api</p>
    <p>es solo para probar de manera basica e inicial la comunicacion entre blazor  y el api</p>*@

@*<button class="btn btn-primary" @onclick="GetColoresByParam">Get By Param</button>
    <button class="btn btn-primary" @onclick="GetAll">Get All</button>
    <button class="btn btn-primary" @onclick="Clear">Limpiar lista</button>*@
<h1>Ocupacion  <button class="btn btn-primary" @onclick="()=>CreateOrEdit()">Agregar</button></h1>
<div class="modal fade" id="ModalCreateOrEdit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @if (Ocupacion.IdOcupacion > 0)
                {
                    <h5 class="modal-title" id="edtMarcaTitel">Editar Ocupacion</h5>
                }
                else
                {
                    <h5 class="modal-title" id="edtMarcaTitel">Crear Ocupacion</h5>
                }

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-md-12">
                <EditForm Model="@Ocupacion" OnValidSubmit="SaveOcupacion" OnInvalidSubmit="RaiseInvalidSubmit">

                    <div class="form-group">
                        <label for="codigo">Codigo</label>
                        <InputText id="codigo" class="form-control col-md-2" @bind-Value="Ocupacion.Codigo"></InputText>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <InputText id="nombre" class="form-control col-md-4" @bind-Value="Ocupacion.Nombre"></InputText>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" @onclick="()=>SaveOcupacion()" />
                    </div>

                </EditForm>

            </div>

        </div>
    </div>
</div>



<table class="table table-responsive-md table-hover">
    <thead>
        <tr>
            <th>IdOcuapcion</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @if (ocupaciones.Count() > 0)
        {
            @foreach (var item in ocupaciones)
            {
                <tr>
                    <td>@item.IdOcupacion</td>
                    <td>@item.Nombre</td>
                </tr>
            }

        }
        else
        {
            <tr>
                <td>No Existen Datos</td>
            </tr>
        }
    </tbody>
</table>
